html {
 background-color: rgb(217, 217, 217);
}

body {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, p, li {
  color: black;
}

.card {
  /* card styling */
  margin: 5px 15px 10px 15px;
  padding: 10px 30px 3px 30px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: white;
  box-shadow: 10px 10px darkgray;
  -webkit-box-shadow: 10px 10px darkgray;
  -moz-box-shadow: 10px 10px darkgray;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header-left {
  width: 60%;
}

.card-header-right {
  width: 40%;
}

.headshot {
  opacity: 10%;
  background-color: blue;
  height: auto; /* keep img aspect ratio */
}

.card-body {

}

.card-text {

}